@import "master.css";

/*a quick bodge to remove the border padding from master.css for the gradient not used here*/
body {
    padding: 0;
}

/*the picture inside*******************************/
.container {
    position: relative;
    max-width: 100%; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  
  .container .content {
    position: absolute;
    bottom: 40%;
    left: 25%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 50%; /* Full width */
    padding: 20px; /* Some padding */
    text-align: center;
  }

