@import 'reset.css';

/*fredicka the great*/
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/********A set of general styles that should apply to the entire site*/
h1 {
  font-size: 4em;
  font-weight: 700;
  padding: 0.5em;
  font-family: 'Fredericka the Great', cursive;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Fredericka the Great', cursive;
}

h3 {
  font-size: 1rem;
  padding: 0.5em;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

abbr {
  display: inline;
}

/*links in nav*/
nav a {
  font-family: 'Fredericka the Great', cursive;
}

/*change visibility of accessibility text*/
.sr-only {
  visibility: hidden;
}

/*colour scheme variables*/
:root {
  --white: #dce1de;
  --black: #1f2421;
  --blue: #216869;
  --green: #49a078;
  --light-green: #9cc5a1;
  --back: #216869; /*This got deleted*/
  --borders: #1f2421; /*This got deleted*/
}

header h1 {
  color: black;
}

header {
  /*Citation for the image below: https://www.flexjobs.com/blog/post/essential-time-management-skills/*/
  background-image: url('../images/MyStuffView.jpg');
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

main {
  display: flex;
  justify-content: space-evenly;
}

main section {
  display: flex;
  border: 0.2em solid var(--black);
  margin: 0.5rem;
  background-color: var(--white);
  color: var(--black);
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: stretch;
  flex: 2 1 auto;
}

section > section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.5rem;
  flex: 2 1 auto;
  border: none;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin-right: 0.3rem;
  font-size: 1.2em;
}

a {
  color: var(--black);
}

p {
  margin: 0.5em;
}

i {
  margin-right: 0.3em;
}

form > div {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

input, select {
  flex: 2 1 auto;
  padding: 1em;
  justify-content: space-evenly;
  margin-top: 0.5em;
}

.flatpickr-input form-control input active {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  padding: 12px 10px;
  text-align: center;
  width: 250px;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30em;
  padding: 1.5em;
  margin: 0.5em;
}
main nav a, main nav a:visited, main nav a:active, button {
  border-radius: 0.5em; /*rounded corners*/
  background-color: white;
  border: 0.3em solid var(--borders);
  color: black;
  text-align: center;
  text-decoration: none; /*remove underline*/
}

/*swap colours on hover*/
main nav a:hover, button:hover {
  background-color: var(--green);
  border: 0.3em solid var(--borders);
  color: var(--white);
  border-radius: 0.5em; /*rounded corners*/
}

main nav ul {
  flex-direction: column;
}

button {
  font-size: 1.2em;
}

button, main nav a {
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
  align-items: flex-start;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5em; /*Jamie August 2*/
}

section div.table {
  justify-content: center;
  margin: 0.5rem;
}

section table {
  width: 90%;
}

td, th {
  font-size: 1em;
  border: 2px solid black;
  padding: 0.5em;
  text-align: center;
  margin: 0.3em;
}

section tr:nth-child(odd) {
  background-color: white;
}

section tr:nth-child(even) {
  background-color: var(--light-green);
}

section table thead tr th {
  background-color: var(--green);
  color: black;
}

section table tr td div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  display: block;
  margin: 0.5em;
}

.hidden {
  display: none;
}

/*background gradient******************************************************************************/
body {
  background: linear-gradient(var(--back), transparent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
}
/*navbar************************************************************************************************/
nav#navbar {
  font-family: 'Fredericka the Great', cursive;
}

/*the whole bar*/
nav#navbar > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--blue);
  flex-wrap: wrap;
  padding: 1em;
  min-width: 35em;
}
/*flexbox containing the two sides of the bar*/
nav#navbar div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em 0 1em;
}

/*list of links*/
nav#navbar div > ul {
  display: flex;
  flex-direction: row;
  padding: 0 1em 0 1em;
}
nav#navbar div > ul > li {
  padding: 0.5em 1em 0 1em;
  flex-shrink: 0;
}

/****forms***/
/*the search section*/
nav#navbar form {
  display: flex;
  flex-direction: row;
  padding: 0.3em 0 0 0;
}
/*search bar*/
nav#navbar div div form input:nth-child(2) {
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  padding: 0.5em 4em 0.5em 2.5em;
}
/*button*/
nav#navbar div div form input:nth-child(3) {
  border: none;
  border-radius: 1em;
  padding: 0 1em 0 1em;
  background-color: var(--white);
  color: var(--black);
}

/*icons*/
nav#navbar i {
  color: var(--white);
}
nav#navbar i[class='far fa-clock'] {
  font-size: 2em;
}
nav#navbar i[class='fas fa-search'] {
  position: relative;
  top: 0.4em;
  left: 1.8em;
}

/*link colours*/
nav#navbar a {
  color: var(--white);
  text-decoration: none;
}
nav#navbar a:visited {
  color: var(--light-green);
}
nav#navbar a:hover {
  color: var(--green);
}

/*website title*/
nav#navbar h2.title {
  padding: 0 1em 0 1em;
  color: var(--white);
}
/*navbar************************************************************************************************/

/*home page for non-users*******************************************************************************/

/*the picture inside*******************************/
.container {
  position: relative;
  max-width: 100%; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container img{
  width: 100%;
}

.container .content {
  position: absolute;
  bottom: 40%;
  left: 25%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 50%; /* Full width */
  padding: 20px; /* Some padding */
  text-align: center;
}

/*mySignUps ***************************************************************/

#mySignUps h3 {
  font-weight: bold;
  font-size: 1.5 rem;
}

#mySignUps section > div {
  display: flex;
  border: 0.2em solid var(--black);
  margin: 0.5rem;
  flex: 2 1 auto;
  flex-direction: column;
  padding: 0.5em;
}

#mySignUps section div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
}

#mySignUps section section{
  max-height: 1.5em;
}

/******************signupsheet section****************/

/*swap colours on hover*/
#signUpSheet button:hover {
  background-color: var(--green);
  border: 0.3em solid var(--borders);
  color: var(--white);
  border-radius: 0.5em; /*rounded corners*/
}
#FindSheet section {
  display: flex;
  border: 0.2em solid var(--black);
  margin: 0.5rem;
  background-color: var(--white);
  color: var(--black);
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: stretch;
  flex: 2 1 auto;
}

#signUpSheet button {
  font-size: 1.2em;
  border-radius: 0.5em; /*rounded corners*/
  background-color: white;
  border: 0.3em solid var(--borders);
  color: var(--blue);
  text-align: center;
  text-decoration: none; /*remove underline*/
  display: flex;
  padding: 0.5em;
  margin-bottom: 1em;
  align-items: flex-start;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#FindSheet form {
  display: flex;
  flex: 2 1 auto;
  padding: 1em;
  margin: 1em;
}

#FindSheet form input {
  height: 1.3em;
  margin-right: 0.1em;
}

#FindSheet form i {
  font-size: 2em;
  margin-top: 0.5em;
  margin-right: 0.3em;
}

#FindSheet form button {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em; /*Jamie August 2*/
}

#FindSheet section div div {
  display: flex;
  justify-content: space-between;
}

section .SlotSignUp {
  margin: 1em;
}

#signUpSheet header {
  /*Citation for the image below: https://www.pinterest.ca/pin/674203006692235309/*/
  background-image: url('../images/SignUpSheet.jpg');
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

#signUpSheet section {
  display: flex;
  border: 0.2em solid var(--black);
  margin: 0.5rem;
  padding: 1em;
  background-color: var(--white);
  color: var(--black);
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: stretch;
  flex: 2 1 auto;
}

#signUpSheet main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0.1em;
}

#signUpSheet button:disabled {
  background-color: lightgrey;
}

#signUpSheet button:disabled:hover {
  color: var(--back);
}

#signUpSheet header h1 {
  background: rgb(255, 255, 255); /* Fallback color */
  background: rgba(255, 255, 255, 0.3); /* Black background with 0.5 opacity */
}

/*profile *************************************************************/
form#newuser, form#uploadform {
  display: flex;
  border: 0.2em solid var(--black);
  margin: 0.5rem;
  background-color: var(--white);
  color: var(--black);
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: stretch;
  flex: 2 1 auto;
}
/*login page*******************************************************/
/*this is the box, border, shape*/
section#loginbox > div {
  border: solid black 2px;
  border-radius: 10px;
  background-color: var(--white);
  padding: 2em 3em 2em 3em;
  margin-bottom: 4em;
}
/*this is just for the form element, and the icon div*/
section#loginbox > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*the icon for the person*/
section#loginbox i {
  font-size: 6em;
  padding: 0.25em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10em;
}
section#loginbox > div > div > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*put the labels ontop of the boxes*/
section#loginbox > div > div > form label.usernamepass {
  display: block;
}
section#loginbox > div > div > form > div {
  padding-top: 1em;
}

/*font and sizing for email password stuff*/
section#loginbox > div > div > form div#usernamepassword > input {
  font-size: 1em;
  padding: 0.25em 1em 0.25em 1em;
}
section#loginbox > div > div > form div#usernamepassword > label {
  padding: 0.25em 0 0.25em 0;
  font-size: 1.75em;
}

section#loginbox > div > div > form div button {
  font-size: 1.25em;
  padding: 0.5em 1em 0.5em 1em;
  border: transparent;
  border-radius: 5em;
  background-color: var(--light-green);
}

section#loginbox > div > div > form div button:hover {
  background-color: #85b98a;
}
/*the remember me box*/
#login > div:nth-child(6) {
  flex-direction: row;
}

/*reset password page*******************************************************/
section#emailbox > div {
  border: solid black 2px;
  border-radius: 10px;
  background-color: var(--white);
  padding: 2em 3em 2em 3em;
}
/*this is just for the form element, and the icon div*/
section#emailbox > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*the icon for the person*/
section#emailbox i {
  font-size: 6em;
  padding: 0.25em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10em;
}
section#emailbox > div > div > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*put the labels ontop of the boxes*/
section#emailbox > div > div > form label.emailaddress {
  display: block;
}
section#emailbox > div > div > form > div {
  padding-top: 1em;
}

/*font and sizing for email password stuff*/
section#emailbox > div > div > form div#emailspot > input {
  font-size: 1em;
  padding: 0.25em 1em 0.25em 1em;
}
section#emailbox > div > div > form div#emailspot > label {
  padding: 0.25em 0 0.25em 0;
  font-size: 1.75em;
}

section#emailbox > div > div > form div button {
  font-size: 1.25em;
  padding: 0.5em 1em 0.5em 1em;
  border: transparent;
  border-radius: 5em;
  background-color: var(--light-green);
}

section#emailbox > div > div > form div button:hover {
  background-color: #85b98a;
}

section#emailbox h3 {
  font-size: 1.5em;
  padding: 1em;
}
/*time slots**********************************************/
#timeSlot p, #timeSlot ul, #timeSlot li {
  margin: 0.5em;
}

#timeSlot main section div {
  display: flex;
  justify-content: space-between;
}

#timeSlot main section div h2 {
  margin: 0.3em;
}
