@import "reset.css";



/*fredicka the great*/
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/********A set of general styles that should apply to the entire site*/
h1{
    font-size: 4em;
    font-weight: 700;
    padding: 0.5em;
}
h2{
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Fredericka the Great', cursive;
}
h3{
    font-size: 1rem;
}
em {
    font-style: italic;
}
strong {
    font-weight: 600;
}
abbr {
    display: inline;
}
/*change visibility of accessibility text*/
.sr-only {
    visibility: hidden;
}


/*see google doc for picture of colours*/
/*colour scheme variables*/
:root {
    --white: #DCE1DE;
    --black: #1F2421;
    --blue: #216869;
    --green: #49A078;
    --light-green: #9CC5A1;
}


/*navbar************************************************************************************************/
main nav a, main nav a:visited, main nav a:active, button {
    border-radius: 0.5em; /*rounded corners*/
    background-color: white;
    border: 0.3em solid var(--borders);
    color: var(--blue);
    text-align: center;
  
    text-decoration: none; /*remove underline*/
  }
  
  /*swap colours on hover*/
  main nav a:hover, button:hover {
    background-color: var(--green);
    border: 0.3em solid var(--borders);
    color: var(--white);
    border-radius: 0.5em; /*rounded corners*/
  }
  
  button {
    font-size: 1.2em;
  }
    button, main nav a{
      display: flex;
      padding: 1em;
      margin-bottom: 1em;
      align-items: flex-start;
      text-align: center;
      justify-content: space-around;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    }
  
    
    nav{
      font-family: 'Fredericka the Great', cursive;
  }
  
  /*the whole bar*/
  nav > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--blue);
      flex-wrap: wrap;
      padding:1em;
      min-width: 35em;
  }
  /*flexbox containing the two sides of the bar*/
  nav div > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1em 0 1em;
  }
  
  /*list of links*/
  nav div > ul{
      display: flex;
      flex-direction: row;
      padding: 0 1em 0 1em;
  }
  nav div > ul > li{
      padding: 0.5em 1em 0 1em;
      flex-shrink: 0;
  }
  
  
  /****forms***/
  /*the search section*/
  nav form{
      display: flex;
      flex-direction: row;
      padding: 0.3em 0 0 0;
  }
  /*search bar*/
  html body nav div div form input:nth-child(2) {
      background-color:var(--green);
      border:none;
      border-radius: 5px;
      padding:0.5em 4em 0.5em 2.5em;
  }
  /*button*/
  html body nav div div form input:nth-child(3) {
      border:none;
      border-radius: 1em;
      padding: 0 1em 0 1em;
      background-color: var(--white);
      color: var(--black);
  }
  
  
  /*icons*/
  nav i {
      color: var(--white);
  }
  nav i[class='far fa-clock'] {
      font-size: 2em;
  }
  nav i[class='fas fa-search'] {
      position: relative;
      top:0.4em;
      left: 1.8em;
  }
  
  /*link colours*/
  nav a {
      color: var(--white);
      text-decoration: none;
  }
  nav a:visited {
      color: var(--light-green);
  }
  nav a:hover {
      color: var(--green);
  }
  
  /*website title*/
  nav h2.title {
      padding:0 1em 0 1em;
      color: var(--white);
  }
  /*navbar************************************************************************************************/