@import url("reset.css"); /*import reset*/


body{
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

header h1 {
    font-size: 4rem;
  }
  header{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    
  }
  div{
      display:flex;
      justify-content: space-evenly;
  }
  section {
    display: flex;
    border: 0.2em solid black;
    margin: 0.5rem;
    flex-direction: column;
    justify-content: space-evenly;
  }

  h2{
    font-size: 1.5rem;
  }
  h3{
      font-size: 1rem;
  }
  section div {
    display: flex;
    border: 0.2em solid black;
    margin: 0.5rem;
    flex: 2 1 auto;
    flex-direction: column;
  }

  section div > div{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: none;
  }
  ul{
    display: flex;
    flex-direction: row;
  }
  li{
      margin-right: 0.3rem;
  }
