@import url("reset.css"); /*import reset*/

@import "master.css";


:root {
    /* the html element*/
    
  
    /*set variables */
    --dark: var(--white);
    --other: var(--white);
    --back: var(--blue);
    --borders: var(--black);
    
  
    /*fallback for browsers that don't suppor variables */
    color: #216869;
    background-color: #dce1de;
    background-color: var(--dark);
    color: var(--dark);
  }
  

body{
    background: linear-gradient(var(--back), transparent);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:max-content;
    padding: 1em;
  }

header h1 {
    font-family: 'Fredericka the Great', cursive;
  }
  header{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    
  }
  main{
      display:flex;
      justify-content: space-evenly;
  }
  section {
    display: flex;
    border: 0.2em solid var(--black);
    margin: 0.5rem;
    background-color: var(--white);
    color:var(--black);
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: stretch;
    flex: 2 1 auto;
  }

  h2{
    font-family: 'Fredericka the Great', cursive;
  }
  section > div {
    display: flex;
    border: 0.2em solid var(--black);
    margin: 0.5rem;
    flex: 2 1 auto;
    flex-direction: column;
  }

  section div > div{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: none;
  }
  ul{
    display: flex;
    flex-direction: row;
  }
  li{
      margin-right: 0.3rem;
  }
  a {
      color: var(--black);
  }

  #partA abbr:hover{
    display: inline;
}
