@import "master.css";


:root {
    /* the html element*/
    
  
    /*set variables */
    --dark: var(--white);
    --other: var(--white);
    --back: var(--blue);
    --borders: var(--black);
    
  
    /*fallback for browsers that don't suppor variables */
    color: (--blue);
    background-color: (--white);
    background-color: var(--dark);
    color: var(--dark);
  }
  

body{
    background: linear-gradient(var(--back), transparent);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:max-content;
    padding: 1em;
  }

header h1 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
  }
  header{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    justify-content: space-between;
    
  }
  section {
    display: flex;
    border: 0.2em solid var(--black);
    margin: 0.5rem;
    background-color: var(--white);
    color:var(--black);
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: stretch;
    flex: 2 1 auto;
  }

  h2{
    font-family: 'Fredericka the Great', cursive;
  }
  
  main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0.1em;
  
  }
  
  body{
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  
  footer{
    display: flex;
    flex-direction: column;
    margin-top: 15em;
    align-items: center;
  }
  
  form > div{
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  
  
  input, select{
    flex: 2 1 auto;
    padding: 1em;
    justify-content: space-evenly;
    margin-top: 0.5em;
  }
  
  fieldset{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30em;
    padding: 1.5em;
    margin: 0.5em;
  }
  
  nav a,
nav a:visited,
nav a:active,
button {
  border-radius: 0.5em; /*rounded corners*/
  background-color: var(--white);
  border: 0.3em solid var(--borders);
  color: var(--blue);
  text-align: center;

  text-decoration: none; /*remove underline*/
}

/*swap colours on hover*/
nav a:hover,
button:hover {
  background-color: var(--green);
  border: 0.3em solid var(--borders);
  color: var(--white);
  border-radius: 0.5em; /*rounded corners*/
}

button {
  font-size: 1.2em;
}
  button, nav a{
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
    align-items: flex-start;
    text-align: center;
    justify-content: space-around;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }